*{padding: 0; margin: 0;}
 body {background-image:url(arena.jpg);  
    background-repeat: no-repeat;
    background-position:center center ;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
overflow: hidden;}


.contenedor {animation-name: contenedor;
    animation-duration:  9s;}

.cortinaola {position: absolute;
    top: -210%;
    animation-name: desplazamientoola;
    animation-duration: 5s;
    animation-direction: alternate;
    
}

.cortinaola img{width: 1365px;}    

.peces div {display: flex; position: absolute; }
.peces img {width: 100%;}




.pez1 img {animation-name: pecesizquierda;
    animation-duration:  0.5s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in;
}

.pez2 img {animation-name: pecesizquierda;
    animation-duration:  0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
  }

.pez4 img {animation-name: pecesizquierda;
    animation-duration:  0.5s;animation-iteration-count: infinite;
    animation-direction: alternate;
   }

.pez5 img  {animation-name: pecesizquierda;
animation-duration:  0.5s;animation-iteration-count: infinite;
animation-direction: alternate;}

.pez6 img { animation-name: pecesizquierda; 
    animation-duration:  0.5s;animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    
   }    


.pez6 {left: 17%; top: 20%; width: 13%;}

.pez5  {top: 40%;  width: 13%; left: 7%;} 

.pez2 {top: 65%; left: 15%; width: 13%;}

.pez4 {left: 72%;top: 28%;width: 10%;}

.pez1 {left: 75%; top: 65%;width: 17%;}

.texto p {text-align: center; font-size: 30px; color: cornflowerblue;}

.texto{ position: absolute; top: 32%; left: 23%;}


.botones { position: absolute; top: 72%; left: 37%;display: flex; 
    padding: 2%;
}



.boton1 {padding: 2%;width: 150px; background-color: coral; margin-right: 3%;  }
.boton1 p:hover {color: indianred; transform: scale(1.2, 1.2);}
.boton2 {padding: 2%;width: 150px; background-color:indianred;  }
.boton2 p:hover {color: coral; transform: scale(1.2, 1.2);}
.botones p {text-align: center; color:white;}

@keyframes pecesizquierda {

        0% {
            transform:rotate(0turn)}

        100% {
            transform: rotate(0.1turn);
            
        }   
    }
    


@keyframes desplazamientoola {

    0% {
       top:-210px;}


    50% {  top: 5px

    }
       

    100% {
        top: -810px;
    }
}       

@keyframes contenedor {

    0% {
        opacity:0;}



    100% {
        opacity:100% ;
    }
}