*{padding: 0; margin: 0;}

html
{scroll-behavior: smooth; box-sizing: border-box;}


.contenedortodo {    margin: 2%; }

body { font-family:'oswald' , sans-serif; background-color: bisque;}

.header {display: flex;}

.columnaderecha { width: 50%;  margin-top: 5%;}
.columnaizquierda {display: flex; width: 50%;}
.columnaizquierda img {border-radius: 50%; width: 60%; display: flex; margin-left: 15%; margin-top: 5%;}

.marca img {display: flex; height: fit-content;margin: auto; width: 80%;}

.barranav nav {display: flex; flex-wrap: wrap; flex-direction: column;}
.barranav a {text-decoration: none; font-weight:bold; font-size: 25px; flex-wrap: wrap;}

.parte1 {display: flex;justify-content: space-between;
    margin-right: 33%;
    margin-left: 4%;
    margin-top: 10%;
}
.parte2 {display: flex; justify-content: space-around;
font-size: 40px;}

.parte3 {display: flex;
    justify-content: space-between;
    margin-left: 26%;
    margin-right: 7%;}

.soulsurfer a {color:#033168; text-decoration: none;}
.circulo1 {color:#033168}
.videostitulo a {color: #4392bb;text-decoration: none;}
.circulo2 {color: #333c87;}
.compe a {color: #333c87; text-decoration: none;}
.circulo3 {color: #4392bb;}
.paginaoficialtitulo a {color: #11bbb5;text-decoration: none;}
.circulo4 {color: #11bbb5;}
.barracelular {display: none;}

.sobremi p {padding: 4%;text-align: center;font-size: 35px; }

.competenciasdiv p {border-radius: 50%; background-color: #148c9f;margin: 8%;
    padding: 4%; font-weight:bold; text-align: center; font-size: 20px;}
.competenciasdiv {display: flex; flex-wrap: wrap;  justify-content: space-between; padding-left: 4%; padding-right: 4%;}

.competenciasdiv p {transition-timing-function: ease; transition-property: all; transition: 1s;}
.competenciasdiv p:hover {background-color:#3ec2d6 ;  
    transform: scale(1.2, 1.2); color: blanchedalmond;}



h1#SOULSURFER {text-align: center; font-size: 40px;}
h2#COMPETENCIAS {text-align: center; font-size: 40px;}
h2#VIDEOS{text-align: center; font-size: 40px; margin-bottom: 2%;}
h2#PAGINAWEB{text-align: center; font-size: 40px; margin-bottom: 2%;}
h2{text-align: center; font-size: 40px; font-weight:bold;}

.videoyweb {display: flex;justify-content: space-around;}
.videoyweb h2#VIDEOS{text-align: center; font-size: 40px; font-weight:bold;}
.videoyweb h2#PAGINAWEB {font-size: 40px;}


.REDESSOCIALES {display: flex; font-size: 400%;justify-content: space-evenly; margin-bottom: 3%;}

a {color: cadetblue;}
a:hover {color: darkcyan;}

@media (min-width: 581px) and (max-width: 990px ) 
{

    .columnaizquieimg {border-radius: 50%; width: 50%; display: flex; margin-left: 15%;}
    
    

    .parte1 {    margin-right: 30%;margin-left: 0%;}
    .parte2 {font-size: 30px;}
    .parte3 {    margin-left: 20%;
        margin-right: 4%;}

        h1#SOULSURFER {font-size: 30px;}

        .marca img {margin-top: 18%;}

        .barranav {display: none;}
        .barracelular  {display: block}
        .barranavegacion {text-decoration: none; font-weight:bold; 
            font-size: 20px; flex-wrap: wrap}
            .barranavegacion nav {display: flex; flex-wrap: wrap; flex-direction: column;}



.sobremi p {font-size: 20px;}

h2#COMPETENCIAS {font-size: 30px}
.competenciasdiv p {font-size: 15px;}

.videoyweb {    flex-flow: column;}
.paginaweb img {    margin-left: 20%;}
.video { margin-left: 20%;}



}

@media (max-width: 580px)  {
    
.marca img {margin-top: 18%;}

.barranav {display: none;}
.barracelular  {display: block}
.barranavegacion {text-decoration: none; font-weight:bold; 
    font-size: 20px; flex-wrap: wrap}
    .barranavegacion nav {display: flex; flex-wrap: wrap; flex-direction: column;}

.sobremi p {font-size: 20px;}

    h1#SOULSURFER {font-size: 25px;}
    h2#COMPETENCIAS{font-size: 25px}
    .videoyweb h2#VIDEOS {font-size: 25px}
    .videoyweb h2#PAGINAWEB {font-size: 25px}

    .competenciasdiv {    justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;}

        .videoyweb {    flex-flow: column;}

        .REDESSOCIALES {font-size: 200%;}
        h2{font-size: 25px; }

        
}


